
body {
   margin: 100px;
   background-color: #ddd;
   font-size: 18px;
}

input {
   font-size: 14px;
}

.graph_content {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   grid-template-columns: 2.5fr 1fr;
   grid-template-rows: 2.5fr 1fr;
}

.view_content {
   display: grid;
   column-gap: 40px;
   row-gap: 20px;
   grid-template-columns: 2.0fr 1fr;
   grid-template-rows: 2.0fr 1fr;
}

.file_content {
   display: grid;
   column-gap: 20px;
   grid-template-columns: 1fr 1fr;
}

.listing-table {
   width: 100%;
   border-collapse: collapse;
   border: 3px solid black;
}

.listing-table th {
   border: 1px solid black;
   border-collapse:collapse;
}

.listing-table td {
   border: 1px solid black;
   border-collapse:collapse;
}

th, td {
   padding-left: 15px;
   padding-right: 15px;
}

.graph_menu th, td {
   padding-top: 2px;
   padding-bottom: 2px;
}

.gi-display {
    max-width: 100%;
    max-height: 100%;
}

.code-snippet {
   border: 0;
   bgcolor: #E0E0E0;
   width: 100%;
}
