
body {
   margin: 100px;
}

h1{
  border-color: #d3e644;
  border-style: dashed;
}

.graph_content {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 3fr 1fr;

}

.file_content {
   display: grid;
   column-gap: 20px;
   grid-template-columns: 1fr 1fr;
}

th, td {
   padding-left: 20px;
   padding-right: 20px;
}

.graph_menu th, td {
   padding-top: 5px;
   padding-bottom: 5px;
}
